USE [master]
GO
/****** Object:  Database [Monjarrez]    Script Date: 27/7/2026 12:18:50 ******/
CREATE DATABASE [Monjarrez]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MonjarrezDatos', FILENAME = N'C:\SQLData\MonjarrezDatos.mdf' , SIZE = 10240KB , MAXSIZE = 20480KB , FILEGROWTH = 5120KB )
 LOG ON 
( NAME = N'MonjarrezLog', FILENAME = N'C:\SQLData\MonjarrezLog.ldf' , SIZE = 8192KB , MAXSIZE = 10240KB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Monjarrez].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Monjarrez]
GO
/****** Object:  User [webuser]    Script Date: 27/7/2026 12:18:51 ******/
CREATE USER [webuser] FOR LOGIN [webuser] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_datareader] ADD MEMBER [webuser]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [webuser]
GO
/****** Object:  Table [dbo].[Compradores]    Script Date: 27/7/2026 12:18:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Compradores](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[usuario_id] [int] NOT NULL,
	[direccion] [nvarchar](200) NULL,
	[telefono] [nvarchar](20) NULL,
	[preferencias] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Productos]    Script Date: 27/7/2026 12:18:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productos](
	[usuario_id] [int] NOT NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](150) NOT NULL,
	[descripcion] [nvarchar](max) NULL,
	[imagen] [nvarchar](500) NULL,
	[precio] [decimal](10, 2) NULL,
	[Nombre_Empresa] [nvarchar](150) NULL,
	[categoria] [nvarchar](50) NULL,
	[telefono] [nvarchar](20) NULL,
	[correo] [nvarchar](150) NULL,
	[provincia] [nvarchar](50) NULL,
	[ciudad] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SolicitudesDeVendedor]    Script Date: 27/7/2026 12:18:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SolicitudesDeVendedor](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[usuario_id] [int] NOT NULL,
	[provincia] [nvarchar](50) NOT NULL,
	[canton] [nvarchar](50) NOT NULL,
	[descripcion] [nvarchar](max) NOT NULL,
	[precio_promedio] [decimal](10, 2) NULL,
	[telefono] [nvarchar](20) NULL,
	[estado] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 27/7/2026 12:18:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](100) NOT NULL,
	[correo] [nvarchar](150) NOT NULL,
	[contraseña] [nvarchar](200) NOT NULL,
	[tipo] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vendedores]    Script Date: 27/7/2026 12:18:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vendedores](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[usuario_id] [int] NOT NULL,
	[suscrito] [bit] NULL,
	[tipo_suscripcion] [nvarchar](50) NULL,
	[metodo_de_pago] [nvarchar](50) NULL,
	[cedula] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Productos] ON 

INSERT [dbo].[Productos] ([usuario_id], [id], [nombre], [descripcion], [imagen], [precio], [Nombre_Empresa], [categoria], [telefono], [correo], [provincia], [ciudad]) VALUES (23, 3, N'Camisa Slim Azul Marino', N'Uniformes deportivos', N'https://boutiquesxpress.com/cdn/shop/products/tenis-nike-for-one-blanco-unisex15-calzado-elite-colombia-1259064175.jpg?v=1700805770', CAST(26000.00 AS Decimal(10, 2)), N'prueba 1', N'Caballeros', N'85289933', N'ALexa@gmail.com', N'San José', N'Central de Alajuela')
INSERT [dbo].[Productos] ([usuario_id], [id], [nombre], [descripcion], [imagen], [precio], [Nombre_Empresa], [categoria], [telefono], [correo], [provincia], [ciudad]) VALUES (23, 4, N'Cuadro de Messi', N'Cuadro de decoracion', N'http://localhost:8080/proyecto-web/MostrarImagen?nombre=3accf450377799290b896c0ce77bd0e5.jpg', CAST(26000.00 AS Decimal(10, 2)), N'prueba 2', N'Servicios', N'85289933', N'ALexa@gmail.com', N'San José', N'Central de Alajuela')
INSERT [dbo].[Productos] ([usuario_id], [id], [nombre], [descripcion], [imagen], [precio], [Nombre_Empresa], [categoria], [telefono], [correo], [provincia], [ciudad]) VALUES (23, 5, N'Cuadro', N'Cuadro de decoracion', N'http://localhost:8080/proyecto-web/MostrarImagen?nombre=40155.jpg', CAST(26000.00 AS Decimal(10, 2)), N'prueba 2', N'Servicios', N'85289933', N'ALexa@gmail.com', N'San José', N'Central de Alajuela')
SET IDENTITY_INSERT [dbo].[Productos] OFF
GO
SET IDENTITY_INSERT [dbo].[SolicitudesDeVendedor] ON 

INSERT [dbo].[SolicitudesDeVendedor] ([id], [usuario_id], [provincia], [canton], [descripcion], [precio_promedio], [telefono], [estado]) VALUES (17, 23, N'San José', N'Kalo', N'Productos deportivos', CAST(28000.00 AS Decimal(10, 2)), N'85289933', N'Pendiente')
INSERT [dbo].[SolicitudesDeVendedor] ([id], [usuario_id], [provincia], [canton], [descripcion], [precio_promedio], [telefono], [estado]) VALUES (18, 24, N'Alajuela ', N'Noli', N'Brau@gmail.com', CAST(25000.00 AS Decimal(10, 2)), N'85289933', N'Pendiente')
INSERT [dbo].[SolicitudesDeVendedor] ([id], [usuario_id], [provincia], [canton], [descripcion], [precio_promedio], [telefono], [estado]) VALUES (20, 26, N'ttt@gmail.com', N'ttt@gmail.com', N'ttt@gmail.com', CAST(2600.00 AS Decimal(10, 2)), N'25248632', N'Pendiente')
SET IDENTITY_INSERT [dbo].[SolicitudesDeVendedor] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([id], [nombre], [correo], [contraseña], [tipo]) VALUES (23, N'Yamal', N'Yamal@gmail.com', N'eb3fa31f9fc8086dcdc0f99b1b6c8afd0a5c789452b2cfa573ae3b3efa34bd9e', N'Vendedor')
INSERT [dbo].[Usuarios] ([id], [nombre], [correo], [contraseña], [tipo]) VALUES (24, N'Brau', N'Brau@gmail.com', N'59f4166447fc5ce039538bdbd51b411b97db85fcb9553b7d1e6a3742166dab49', N'Vendedor')
INSERT [dbo].[Usuarios] ([id], [nombre], [correo], [contraseña], [tipo]) VALUES (25, N'Luis', N'Luis@gmail.com', N'61e717fdf726fe0da2e543005d7b67b0e73192ddd56935ff4e81ef79399f50b9', N'Comprador')
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
SET IDENTITY_INSERT [dbo].[Vendedores] ON 

INSERT [dbo].[Vendedores] ([id], [usuario_id], [suscrito], [tipo_suscripcion], [metodo_de_pago], [cedula]) VALUES (1, 23, 1, N'Avanzada', N'deposito', N'605423155')
INSERT [dbo].[Vendedores] ([id], [usuario_id], [suscrito], [tipo_suscripcion], [metodo_de_pago], [cedula]) VALUES (2, 24, 0, N'Avanzada', N'simpe', N'208745622')
INSERT [dbo].[Vendedores] ([id], [usuario_id], [suscrito], [tipo_suscripcion], [metodo_de_pago], [cedula]) VALUES (4, 26, 0, N'Básica', N'efectivo', N'305642210')
SET IDENTITY_INSERT [dbo].[Vendedores] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Usuarios__2A586E0B1E926B3A]    Script Date: 27/7/2026 12:18:51 ******/
ALTER TABLE [dbo].[Usuarios] ADD UNIQUE NONCLUSTERED 
(
	[correo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SolicitudesDeVendedor] ADD  DEFAULT ('Pendiente') FOR [estado]
GO
ALTER TABLE [dbo].[Vendedores] ADD  DEFAULT ((0)) FOR [suscrito]
GO
ALTER TABLE [dbo].[Compradores]  WITH CHECK ADD FOREIGN KEY([usuario_id])
REFERENCES [dbo].[Usuarios] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD FOREIGN KEY([usuario_id])
REFERENCES [dbo].[Usuarios] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SolicitudesDeVendedor]  WITH CHECK ADD FOREIGN KEY([usuario_id])
REFERENCES [dbo].[Usuarios] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Vendedores]  WITH CHECK ADD FOREIGN KEY([usuario_id])
REFERENCES [dbo].[Usuarios] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD CHECK  (([tipo]='Comprador' OR [tipo]='Vendedor'))
GO
USE [master]
GO
